.vscode
.cache
.DS_Store
CMakeUserPresets.json
compile_commands.json
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate

build/
bin/
gui/build/
gui/bin/

AppKit-Extensions-Library/
MTK-Extensions-Library/
