MTK-Extensions/MTK-Extensions.xcodeproj
MTK-Extensions-Library/MTK-Extensions
AppKit-Extensions-Library/MTK-Extensions-Old
AppKit-Extensions-Library/AppKit-Extensions
AppKit-Extensions-Library/AppKit-Extensions_Old
gui/build
gui/gui.xcodeproj
.vscode
gui/.vscode
font-rendering.xcodeproj
AppKit-Extensions/AppKit-Extensions.xcodeproj
.cache
.DS_Store
gui/bin